
DATABASE_URL="postgresql://USERNAME:PASSWORD@HOST:5432/linuxatlas?schema=public"

NEXT_PUBLIC_APP_URL="http://localhost:3000"


MEILISEARCH_HOST="http://localhost:7700"
MEILISEARCH_API_KEY="YOUR_MEILISEARCH_API_KEY"

GITHUB_REPO_URL="https://github.com/YOUR_USERNAME/YOUR_REPO"
